.active-nav {
    font-weight: bold;
}

li {
    text-decoration: none;
    list-style-type : none;
    
}

li>a {
    color: green
}

.nav {
    width:  400px;
    display: flex;
    justify-content: space-between;
}