
.App{
  background-color: lightgrey;
  text-align: center;
  width: 200px;
  margin: auto;
  margin-top: 20px; 
  border: 1px solid;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
