
.smallBtn{
	width: 38px;
	height: 20px;
	cursor: pointer;
	border: 1px solid;
	border-radius: 5px; 
	outline: none;
	font-size: 8px;
	font-weight: bold;
	font-style: italic;
	margin: 15px 5px;
}

.btn-success {
	width: 35px;
	height: 35px;
	margin: 3px;
}

.btn-warning {
	height: 35px;
	margin: 10px;	
}

.btn-danger {
	width: 35px;
	height: 35px;
	margin: 3px;
}